.logo {
    width: 195px;
    height: 39px;
    color: #3D37F1;
    font-size: 32px;
    margin-right: 725px;
}
.sub-logo {
    color: #4B647E;
}
.header-wraper {
    margin: 67px 0 267px 132px ;
    display: flex;
    align-items: center;
}
.list-wraper {
    width: 581px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.list {
    color: #3D37F1;
    font-size: 20px;
}
.section-a {
    display: flex;
    justify-content: space-around;
    padding-bottom: 288px;
}
.div-a {
    width: 588px;
    height: 527px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.div-header {
    width: 600px;
    height: 203px;
    font-size: 78px;
    font-weight: bold;
}
.div-description {
    width: 602px;
    height: 103px;
    font-size: 22px;
}
.div-button {
    width: 263.67px;
    height: 76.77px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3D37F1;
    border-radius: 38px;
}
.wave {
    width: 106px;
    height: 32px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
.container {
    width: 1920px;
    height: 1443.67px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header-a {
    width: 140px;
    color: #3D37F1;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.header-b {
    width: 578px;
    height: 48px;
    color: #5A5454;
    font-size: 40px;
}
.description {
    width: 712px;
    height: 85px;
    color: #747474;
    font-size: 18px;
}
.text {
    width: 712px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.box {
    width: 370px;
    height: 451px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box:nth-child(1) {
    background-color: #FBBA77;
}
.box:nth-child(2) {
    background-color: #41EAE3;
}
.box:nth-child(3) {
    background-color: #69529F;
}
.box:nth-child(4) {
    background-color: #4386D2;
}
.box:nth-child(5) {
    background-color: #A5A2F6;
}
.box:nth-child(6) {
    background-color: #FF8088;
}
.read {
    width: 131px;
    height: 45px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-wraper {
    margin: 0 auto;
    width: 1170px;
    height: 965px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}