.logo {
    width: 195px;
    height: 39px;
    color: #3D37F1;
    font-size: 32px;
    margin-right: 725px;
}
.sub-logo {
    color: #4B647E;
}
.header-wraper {
    margin: 67px 0 267px 132px ;
    display: flex;
    align-items: center;
}
.list-wraper {
    width: 581px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.list {
    color: #3D37F1;
    font-size: 20px;
}
.section-a {
    display: flex;
    justify-content: space-around;
}
.div-a {
    width: 588px;
    height: 509px;
    display: flex;
    flex-direction: column;
}
.div-header {
    width: 600px;
    height: 203px;
    font-size: 78px;
    font-weight: bold;
}
.div-description {
    width: 602px;
    height: 103px;
    font-size: 22px;
}
.div-button {
    width: 263.67px;
    height: 76.77px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3D37F1;
    border-radius: 38px;
}
.wave {
    width: 106px;
    height: 32px;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}